h1 {
  font-family: "Sansita Swashed", cursive;
}
h2 {
  font-family: "Nerko One", cursive;
}
h3 {
  font-family: "Roboto", sans-serif;
}
ul {
  list-style: none;
}
p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
